.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
  margin-top: 93px;
  max-width: 481px;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 25px;
  color: #696F79;
}

/* 1201-1400px */

@media screen and (max-width: 1400px) {
  .title {
    font-size: 19px;
  }

  .wrapper {
    gap: 15px;
  }
}

/* 992-1200px */

@media screen and (max-width: 1200px) {
  .wrapper {
    margin-top: 25px;
  }
}